In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

movies =pd.read_csv('./dataset/tmdb_5000_movies.csv')
print(movies.shape)
movies.head(2)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [3]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [8]:
movies_df = movies[['id','title', 'genres', 'vote_average', 'vote_count',
                 'popularity', 'keywords', 'overview']]
movies_df.head()

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",7.6,9106,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.1,2124,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."

In [9]:
movies_df.genres

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

In [10]:
movies_df.keywords

0       [{"id": 1463, "name": "culture clash"}, {"id":...
1       [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2       [{"id": 470, "name": "spy"}, {"id": 818, "name...
3       [{"id": 849, "name": "dc comics"}, {"id": 853,...
4       [{"id": 818, "name": "based on novel"}, {"id":...
                              ...
4798    [{"id": 5616, "name": "united states\u2013mexi...
4799                                                   []
4800    [{"id": 248, "name": "date"}, {"id": 699, "nam...
4801                                                   []
4802    [{"id": 1523, "name": "obsession"}, {"id": 224...
Name: keywords, Length: 4803, dtype: object

In [12]:
# genres 칼럼은 문자열로 표기되어 있으며 문자열을 분해해서 개별 장으를 파이썬 리스트 객체로 추출 필요
from ast import literal_eval

movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)
movies_df['genres'][:1]

0    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
Name: genres, dtype: object

In [13]:
movies_df['genres'] = movies_df['genres'].apply(lambda x : [ y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [ y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."

In [14]:
df5 = movies_df[['genres', 'keywords']]
df5['genres'].apply(lambda x :(' ').join(x)).head()

0    Action Adventure Fantasy Science Fiction
1                    Adventure Fantasy Action
2                      Action Adventure Crime
3                 Action Crime Drama Thriller
4            Action Adventure Science Fiction
Name: genres, dtype: object

[과제] 아래사항을 수행하세요.
- 장르 콘텐츠 필터링을 이용한 영화추천(count 방식으로 feature 벡터화,cosine_similartiy로 유사도 측정)
- 평점에 평가 횟수를 반영하여 새롭게 평점기준을 정의한 후 정굑하여 영화추천(vote_count를 포함하여 아래 가중평점 사용)
- 가중평점 : (v/(v+m))R + (m/(v+m))C
    - v : 개별 영화에 평점을 투표한 횟수
    - m : 평점을 부여하기 위한 최소 투표 횟수
    - R : 개별 영화에 대한 평균평점
    - C : 전체 영화에 대한 평균평점

In [49]:
# 장르추천을 위한 장르 벡터화와 코사인 유사도 계산

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
3971,191229,Iguana,[],6.0,1,0.214704,[],A grotesquely disfigured harpooner called Igua...
3992,346081,Sardaarji,[],9.5,2,0.296981,[],A ghost hunter uses bottles to capture trouble...
4068,371085,Sharkskin,[],0.0,0,0.027801,[],The Post War II story of Manhattan born Mike E...
4105,48382,"The Book of Mormon Movie, Volume 1: The Journey",[],5.0,2,0.031947,[],The story of Lehi and his wife Sariah and thei...
4118,325140,Hum To Mohabbat Karega,[],0.0,0,0.001186,[],"Raju, a waiter, is in love with the famous TV ..."
4293,357834,The Algerian,[],0.0,0,0.025364,[],The Algerian is an international political thr...
4314,137955,Crowsnest,[],4.8,12,0.057564,[],"In late summer of 2011, five young friends on ..."
4385,206412,Lisa Picard Is Famous,[],4.0,1,0.690089,[],A documentarian decides to follow the career o...
4400,219716,Sparkler,[],0.0,1,0.547654,[],Melba is a Californian trailer-park girl who i...
4413,335874,Childless,[],4.5,2,0.243853,[],Katherine is a typical teenager. Today's her f...
4458,279759,Harrison Montgomery,[],0.0,0,0.006943,[],Film from Daniel Davila
4504,331493,Light from the Darkroom,[],0.0,0,0.012942,[],Light in the Darkroom is the story of two best...
4550,294550,The Outrageous Sophie Tucker,[],0.0,0,0.021419,[],"The rags to riches story of Sophie Tucker, an ..."
4553,380097,America Is Still the Place,[],0.0,0,0.000000,[],1971 post civil rights San Francisco seemed li...
4562,297100,The Little Ponderosa Zoo,[],2.0,1,0.073079,[],The Little Ponderosa Zoo is preparing for thei...
4566,325579,Diamond Ruff,[],2.4,4,0.165257,[],"Action - Orphan, con artist, crime boss and mi..."
4569,198370,Mutual Friends,[],0.0,0,0.136721,[],Surprise parties rarely go well. This one is n...
4571,328307,Rise of the Entrepreneur: The Search for a Bet...,[],8.0,1,0.052942,[],The world is changing faster than ever. Techno...
4581,281189,Gory Gory Hallelujah,[],1.0,1,0.033883,[woman director],Four actors compete for the role of Jesus - a ...
4611,162396,The Big Swap,[],0.0,0,0.627763,[],"In this British drama, Ellen (Sorcha Brooks) a..."
4622,365052,The Looking Glass,[],7.0,1,0.062979,[],Troubled 13-year-old Julie loses her mother an...
4633,300327,Death Calls,[],0.0,0,0.005883,[],An action-packed love story on the Mexican bor...
4657,320435,UnDivided,[],0.0,0,0.010607,[],UnDivided documents the true story of how a su...
4674,194588,Short Cut to Nirvana: Kumbh Mela,[],0.0,0,0.004998,[],Every 12 years over 70 million pilgrims gather...
4681,176074,Reality Show,[],5.5,2,0.472123,"[wife husband relationship, reality, reality t...",The Warwick family are unknowingly being filme...
4714,282128,An American in Hollywood,[],0.0,0,0.015697,[],A talented young filmmaker from New York sets ...
4716,38786,The Blood of My Brother: A Story of Death in Iraq,[],0.0,0,0.005256,[],THE BLOOD OF MY BROTHER goes behind the scenes...
4801,126186,Shanghai Calling,[],5.7,7,0.857008,[],When ambitious New York attorney Sam is sent t...